@{
    ViewBag.Title = "Home Page";
}

<!-- Welcome Area Start -->
<section class="welcome-area">
    <div>
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img" style="background-image: url('../Images/Social-Media-banner.jpg');">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text">
                                <h2 style="color:white;">Find <br> Your Friends</h2>
                                <p style="color:white;">“Rediscovering old friendships and making new ones is just up to you.”</p>
                                <a href="/Account/Register" class="btn btn-light" style="color:blue;border-radius:50px;">Register now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<hr />
@if (ViewBag.loggedUser)
{
<div class="d-md-flex">
    <div class="form-group">
        <h3>Friend requests</h3>
        <div>
                @if (ViewBag.notifications != null)
                {
                    if (ViewBag.notifications.FriendRequests != null && ViewBag.notificationsCount != 0)
                    {
                        foreach (var friendRequest in ViewBag.notifications.FriendRequests)
                        {
                            <div class="d-md-flex">
                                <div class="form-group">
                                    <a href="/Profile/Show/@friendRequest.Id">@friendRequest.FirstName @friendRequest.LastName </a> sent you a friend request
                                </div>
                                <div class="form-group ml-md-5">
                                    <form method="post" action="/Profile/AcceptFriendRequest/@friendRequest.Id">
                                        <button type="submit" class="btn btn-sm btn-success akame-btn"> Add friend</button>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="font-italic"> There are no new friend requests.</p>
                    }
                }
                else
                {
                    <p class="font-italic"> There are no new friend requests.</p>
                }
        </div>
    </div>
    <div class="form-group ml-md-5">
        <h3>New comments</h3>
        <div>
                @if (ViewBag.pendingComments != null && ViewBag.commentsCount != 0)
                {
                    foreach (var comment in ViewBag.pendingComments)
                    {
                        <div class="card bg-light">
                            <div class="card-body">
                                <span class="font-weight-bold">@comment.FirstNameUser @comment.LastNameUser</span> commented on your photo: "<span class="font-italic">@comment.Content</span>"
                                <br />
                                <a class="btn btn-sm btn-success" href="/Comment/AcceptComment/@comment.Id">Accept comment</a>
                                <a class="btn btn-sm btn-success" href="/Comment/RejectComment/@comment.Id">Reject comment</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="font-italic"> There are no new comments.</p>
                }
        </div>
    </div>
</div>
    }
  